@import "../../../variables";

.box-shadow {
  margin-top: 30px;
  height: calc(100% - 30px) !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: $mineShaft;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  padding: 1rem;
  background: $white;
  position: relative;
  border-radius: 5px;

  // &:hover {
  //   background: $dark-white;
  // }
  span {
    cursor: pointer;
  }
  .fs1 {
    font-size: 3.75rem;
    span {
      cursor: pointer;
    }
  }
  img {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: #f1f1f1;
  }
}
