<div class="div-wrapper" style="min-height:220px">
    <div class="d-flex align-items-center justify-content-between">
      <h6>
        <i nz-icon nzType="line-chart" nzTheme="outline"></i>
        <span class="mx-2">{{'CommitteeActivities'|translate}}</span>
      </h6>
      <!-- <div class="actions">
        <i class="control-icon" nz-icon nzType="ellipsis" nz-popover [nzPopoverContent]="controlTmp"
          nzPopoverPlacement="bottom"></i>
        <ng-template #controlTmp>
          <ul class="list-unstyled p-0- m-0 dashboard-filter-list">
            <li>
  
            </li>
          </ul>
        </ng-template>
      </div> -->
    </div>
    <p *ngIf="!activities.length" class="text-center" style="font-size: 23px;margin-top: 47px;">{{'noData' | translate}} </p>
    <div class="chart w-100" *ngIf="activities.length">
      <ngx-charts-line-chart
        [scheme]="activitiesChart?.scheme"
        [legend]="activitiesChart?.legend"
        [showXAxisLabel]="activitiesChart?.showXAxisLabel"
        [showYAxisLabel]="activitiesChart?.showYAxisLabel"
        [xAxis]="activitiesChart?.xAxis"
        [yAxis]="activitiesChart?.yAxis"
        [timeline]="activitiesChart?.timeline"
        [results]="activitiesChart?.results"
        [autoScale]="activitiesChart?.autoScale"
        [xAxisLabel]="activitiesChart?.xAxisLabel"
        [yAxisLabel]="activitiesChart?.yAxisLabel"
        (select)="onSelect($event)"
        >
      </ngx-charts-line-chart>
    </div>
  </div>
