@import "./../../../../../variables";

.recommendation {
  background-color: $lightYellow;
  border-radius: 0.6rem;
  box-shadow: 0px 3px 6px $boxShadow;
  padding: 20px;
  margin-bottom: 20px;
  color: $black;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  &__content {
    display: flex;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
    flex: 0 10%;
    margin: 0 0.2rem;
  }

  &__delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    flex: 0 10%;
    margin: 0 0.2rem;
  }

  &__text {
    flex: 1;
    word-break: break-all;
  }
}
.item-container {
  background-color: $lightgray;
  border-radius: 0.6rem;
  box-shadow: 0px 1px 2px $boxShadow;
  padding: 7px;
  margin-bottom: 20px;
  overflow-x: auto;
  color: #404254;
  .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    .user-data {
      display: flex;
      align-items: center;
      .img-wrapper {
        position: relative;
        img {
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 50%;
          vertical-align: middle;
          object-fit: cover;
          margin: 0 0.3rem;
        }
        .active-state {
          position: absolute;
          width: 8px;
          height: 8px;
          display: block;
          background-color: $persianGreen;
          border-radius: 25px;
          left: 2px;
          bottom: 0;
        }
      }
      .user-name {
        margin: 0 5px;
        p {
          font-size: $fs14;
          font-weight: 600;
        }
      }
    }

    .item-control-options {
      display: flex;
      align-items: center;
    }
  }

  .item-content {
    padding: 0.2rem 0;
  }
  .item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item-button {
      button {
        border: 1px solid $persianGreen;
        border-radius: 5px;
        color: $persianGreen;
        font-weight: bold;
        z-index: 10;
      }
    }

    .item-comment {
      flex: 1;
      margin: 0 10px;
      .ant-input-affix-wrapper {
        width: 98%;
        background-color: $wildSand;
        border-radius: 5px;
        input {
          background-color: $wildSand;
        }
      }
      .user-comment-img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    .comment-icon {
      .anticon {
        color: $mediumShaft;
        padding: 0;
        font-size: $fs20;
      }
    }
  }

  .voting-wrapper {
    width: 95%;
    margin-bottom: 0.5rem;
  }
  nz-radio-group {
    width: 100%;
  }

  .option {
    height: 32px;
    background-image: linear-gradient(to right, #dcfafa, #dcfafa);
    margin: 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    .vote-users {
      margin: 0 0.5rem;
    }
  }

  nz-checkbox-wrapper {
    width: 100%;
  }
}

.item-subject {
  font-size: $fs14;
  padding: 0.3rem 0.2rem;
}

::ng-deep .ant-radio-wrapper {
  display: flex;
  align-items: center;
}
