@import "./../../../../../../variables";

.votings {
  padding: 1.3rem 2.6rem 0;
}

.padding-rtl {
  padding-right: 1.8rem;
}

.voting-item {
  padding-top: 5.4rem;
  margin: 0 .7rem -5.9rem;
}
.voting-icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: $dodgerBlue;
}
