<div class="meetings-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-12">
              <app-confirm-allmeetings></app-confirm-allmeetings>
              <app-closed-meetings></app-closed-meetings>
            </div>
            <div class="col-lg-9 col-12">
                <app-meetings-calender></app-meetings-calender>
              <div class="row">
                <div class="col-lg-8 col-12">
                    <app-meetings-activities></app-meetings-activities>
                </div>
                <div class="col-lg-4 col-4"> 
                 <app-finished-meetings></app-finished-meetings>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
