.permissions-wrapper {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px #e1dfdf;

    .role-permission {
        padding: 5px 10px;
        border: 1px solid #c1c1c1;
        border-radius: 6px;
    }
}