$madison: #103567;
$mineShaft: #333333;
$mediumShaft: #666666;
$dodgerBlue: #359afe;
$lochmara: #0075c9;
$whiteLilac: #eef0f8;
$white: #ffffff;
$black: #000000;
$border-bottom: #ededed;
$seaGreen: #30a24c;
$aliceBlue: #f5faff;
$doveGray: #707070;
$dustyGray: #999999;
$silver: #cccccc;
$wildSand: #f4f4f4;
$lightgray: #F4F6F9;
$red: #ff0000;
$solitude: #e1f0fe;
$athensGray: #e6e8f0;
$persianGreen-white: #edfafa;
$persianGreen-light: #cbf3f1;
$persianGreen-med: #8feee9;
$persianGreen: #0BBEB7;
$persianBlue: #117a8b;
$catskillWhite: #f3f6f9;
$bg-Grey: #f3f6f9;
$defualtGrey: #c1c2c1;
$lightBlue: #a1d3f7;
$lightBlue2: #71b7e9;
$whitblue: #edfafa;
$err_label: #c14b4b;
$darkYellow: #fcbe06;
$lightYellow: #f5d166;
$selected: #00afaa;
$main-bg: #e6f7ff;
$magenta: rgb(179, 7, 179);
$boxShadow: rgba(0, 0, 0, 16%);
$boxShadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$boxShadow-medium: 0 2rem 5.5rem rgba(0, 0, 0, 0.16);
$boxShadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$boxShadow-sharp: 0px 10px 6px #00000021;
$boxShadow-sharp-small: 0px 3px 3px #00000021;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs15: 15px;
$fs16: 16px;
$fs17: 17px;
$fs20: 20px;

$rounded-border: 25px;

$font-family-regular: "Tajawal-Regular", sans-serif;
$font-family-medium: "Tajawal-Medium", sans-serif;
$font-family-bold: "Tajawal-Bold", sans-serif;

$base-fs: $fs13;
$base-ff: $font-family-regular;

// screen sizes ...
$s: 320px;
$ms: 645px;
$m: 768px;
$ml: 1024px;
$xl: 1300px;
