.head-title {
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 1.5rem;
    color: black!important;
}
.box-shadow {
    box-shadow: 0 0 5px rgb(0 0 0 / 18%);
    padding: 1rem;
    background: #fff;
}