.stats-with-bg{
    width: 27px;
    margin: 0 8px;
    border-radius: 17px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
    max-height: 28px;
}
.stats-text {
    font-size: 11px;
    font-weight: bold;
    margin-top: 7px;
}
.cyan-bg {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}
.green-bg{
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}
.red-bg {
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}
.yellow-bg {
    background-image: linear-gradient(195deg, #f7e35e 0%, #f7cd00 100%);
}
.black-bg{
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}
.gray-bg {
    background-image: linear-gradient(195deg, #6d7475 0%, #454949 100%);
}
.main-design{
  width: 280px;
  height: 280px;
}
.not-main{
    width: 180px;
    height: 180px;
}
.w-font {
    font-size: 17px !important;
}
