<div class="comment">
  <div class="comment__header">
    <div class="comment__user">
      <img
        class="comment__user-img"
        *ngIf="createdUserImage"
        [src]="'data:image/png;base64,' + createdUserImage"
        [alt]=""
      />
      <img
        class="comment__user-img"
        *ngIf="!createdUserImage"
        [src]="'assets/images/unknown.png'"
      />
      <span class="comment__user-name">
        {{
          createdUserName ? createdUserName : ("anonymous" | translate)
        }}</span
      >
    </div>

    <div
      class="comment__date"
      dir="rtl"
    >
    <div class="d-flex align-items-center mt-1">
      <!-- <p class="mb-0 mx-1" style="direction:ltr;font-size:13px;padding-top: 2px;">{{
        (item?.createdOn | date:"h:mm a": 'offset')
       }}</p> -->
       <p *ngIf="currentLang === 'ar'" class="mb-0 mx-1" style="direction:ltr;font-size:13px;padding-top: 2px;">{{this.dateFormatService.getTasksDateInArabic(item?.createdOn)}}</p>
       <p class="mb-0">- {{currentLang === 'ar' ?  (item?.createdOn | customDate) : (item?.createdOn | date:'shortDate')}}</p>
     </div>
    </div>
  </div>
  <div class="comment__text">
    <p>{{ item?.comment.text }}</p>
  </div>
  <ng-container>
    <app-attachment-item-files
      [attachments]="item?.comment.savedAttachments"
    ></app-attachment-item-files>
  </ng-container>
</div>

