<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!--<handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>-->
		<!-- Allow PUT, DELETE Methods in IIS publish -->
		<modules runAllManagedModulesForAllRequests="false">
			<remove name="WebDAVModule" />
		</modules>
		<!--Limit Upload-->
		<!--*to 1GB=1073741824-->
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="1073741824" maxQueryString="1073741824" />
			</requestFiltering>
			<authentication>
				<windowsAuthentication enabled="true" />
			</authentication>
		</security>
		<!--/ Limit Upload-->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="01:00:00" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
