<div class="div-wrapper" style="min-height:205px">
    <h6>
        <i nz-icon nzType="file" nzTheme="outline"></i>
        <span class="mx-2">{{' Createdfiles' | translate}}</span>
    </h6>
    <p>{{"Statistics for all types of files" | translate}}</p>
    <p *ngIf="!data.length" class="text-center" style="font-size: 23px; margin-top: 45px;">{{'noData' | translate}} </p>
    <div class="files-survey text-center" *ngIf ="data.length">
        <div class="d-flex align-item-center justify-content-center">
            <div  *ngIf="wordFile">
              <ngx-charts-pie-chart
              [view]="chartSize"
              [results]="wordContainer" [scheme]="colorScheme1">
              </ngx-charts-pie-chart>
              <p class="font-weight-bold">Word</p>
            </div>
            <div  *ngIf="excelFile">
                <ngx-charts-pie-chart [view]="chartSize" [results]="spreadContainer" [scheme]="colorScheme3">
                </ngx-charts-pie-chart>
                <p class="font-weight-bold">Excel</p>
            </div>
              <div  *ngIf="powerPointFiles">
                <ngx-charts-pie-chart [view]="chartSize" [results]="powerContainer" [scheme]="colorScheme2">
                </ngx-charts-pie-chart>
                <p class="font-weight-bold">Power Point</p>
             </div>  
             <div *ngIf="imagesFile">
                <ngx-charts-pie-chart [view]="chartSize" [results]="imgContainer" [scheme]="colorScheme4">
                </ngx-charts-pie-chart>
                <p class="font-weight-bold">{{'Images' | translate}}</p>
            </div>
        </div>
    </div>
</div>
