<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileNetIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <FileNetIntegration.Properties.Settings>
            <setting name="ECMServer" serializeAs="String">
                <value>http://FN521DC901:9080/wsi/FNCEWS40MTOM/</value>
            </setting>
            <setting name="ECMUserName" serializeAs="String">
                <value>p8admin</value>
            </setting>
            <setting name="ECMPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="ECMRepository" serializeAs="String">
                <value>OS</value>
            </setting>
            <setting name="RelativeDirectory" serializeAs="String">
                <value>Documents</value>
            </setting>
            <setting name="YearIsHijri" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LFServer" serializeAs="String">
                <value>Tafeel-Srv</value>
            </setting>
            <setting name="LFRepository" serializeAs="String">
                <value>HajjMASARRep</value>
            </setting>
            <setting name="LFUserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="LFPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
        </FileNetIntegration.Properties.Settings>
    </applicationSettings>
</configuration>
