@import "../../../../variables";

.ant-table-wrapper {
  box-shadow: 0px 10px 8px -10px $boxShadow;
  background-color: $white;
}

.settings-header {
  padding: 20px;
  box-shadow: 0px 0px 20px 1px $boxShadow;
  background-color: $white;
  border-radius: 6px;

  .searchBox {
    position: relative;
    width: 50%;

    .ant-input-affix-wrapper {
      padding: 0;
    }

    .close {
      position: absolute;
      top: 12px;
      right: 5px;
      font-size: 16px;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
    &.create-new {
      span,
      i {
        color: $white;
        margin: 0 !important;
      }
    }
  }
}
