
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <perfect-scrollbar>
    <div class="row">
      <ng-container
        *ngIf="!loadingData && committees?.length; else loadingDataTpl"
      >
        <ng-container *ngFor="let committee of committees; let i = index">
          <div class="col-md-3 col-12 mb-3">
            <div
              class="committee-item"
              [ngClass]="
                committee.currentStatus.currentStatusId == 1
                  ? 'activebg'
                  : 'disactive'
              "
              style="cursor: pointer"
            >
              <div class="d-flex align-items-center justify-content-between">
                <div
                  class="d-flex align-items-center"
                  style="cursor: pointer;width: 80%;"
                  (click)="navigateTo(committee?.commiteeId)"
                >
                  <span class="comm-img">
                    <img
                      class="img-fluid"
                      [src]="
                        committee?.commiteeType.image
                          ? 'data:image/png;base64,' +
                            committee?.commiteeType.image
                          : '../../../assets/images/unknown.png'
                      "
                    />
                  </span>
                  <span
                    class="comm-name mx-1"
                    [nzTooltipTitle]="committee?.name"
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                    (click)="navigateTo(committee?.commiteeId)"
                  >
                    {{ committee?.name | maxLenth: 20 }}
                  </span>
                </div>
                <div
                  *appHasAuthUserViewPermission="[
                    'EditCommittee',
                    'ActiveDisactiveCommittee'
                  ]"
                >
                  <i
                    class="control-icon"
                    nz-icon
                    nzType="ellipsis"
                    nz-popover
                    [nzPopoverContent]="controlTmp"
                    nzPopoverPlacement="right"
                  ></i>
                  <ng-template #controlTmp>
                    <ul class="list-unstyled p-0 m-0 dashboard-filter-list">
                      <li
                        *appHasAuthUserViewPermission="['EditCommittee']"
                        (click)="editCommittee(committee?.commiteeId)"
                      >
                        {{ "EditCommittee" | translate }}
                      </li>
                      <ng-container
                        *ngIf="committee.currentStatus?.currentStatusId === 2"
                      >
                        <li
                          *appHasAuthUserViewPermission="[
                            'ActiveDisactiveCommittee'
                          ]"
                          (click)="onChangeCommitteStatus(committee?.commiteeId)"
                        >
                          {{ "ActiveStatus" | translate }}
                        </li>
                      </ng-container>
                      <ng-container
                        *ngIf="committee.currentStatus?.currentStatusId === 1"
                      >
                        <li
                          *appHasAuthUserViewPermission="[
                            'ActiveDisactiveCommittee'
                          ]"
                          (click)="onChangeCommitteStatus(committee?.commiteeId)"
                        >
                          {{ "disActiveStatus" | translate }}
                        </li>
                      </ng-container>
                    </ul>
                  </ng-template>
                </div>
              </div>
              <div class="description my-1" (click)="navigateTo(committee?.commiteeId)">
                <p
                  class="mb-1"
                  [nzTooltipTitle]="committee?.description"
                  nzTooltipPlacement="bottom"
                  nz-tooltip
                >
                  {{ committee?.description | maxLenth: 75 }}
                </p>
              </div>
              <div class="d-flex align-items-center justify-content-between" (click)="navigateTo(committee?.commiteeId)">
                <div>
                  <span class="admin-image mr-0">
                    <img
                      nz-image
                      [nzSrc]="
                        'data:image/png;base64,' +
                        committee?.currenHeadUnit?.profileImage
                      "
                      [nzFallback]="fallback"
                    />
                  </span>
                  <strong
                    class="comm-name"
                    [nzTooltipTitle]="
                      ('CommitteHead' | translate) +
                      ' : ' +
                      (this.translateService.currentLang === 'ar'
                        ? committee.currenHeadUnit?.fullNameAr
                        : committee.currenHeadUnit?.fullNameEn)
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    {{
                      this.translateService.currentLang === "ar"
                        ? (committee.currenHeadUnit?.fullNameAr | maxLenth: 20)
                        : (committee.currenHeadUnit?.fullNameEn | maxLenth: 11)
                    }}

                  </strong>
                </div>
                <div class="status-desc">
                  <span>{{
                    this.translateService.currentLang === "ar"
                      ? committee.commiteeType?.commiteeTypeNameAr
                      : committee.commiteeType?.commiteeTypeNameEn
                  }}</span>
                  <nz-divider nzType="vertical" nzDashed></nz-divider>
                  <span>{{
                    this.translateService.currentLang === "ar"
                      ? committee.currentStatus?.currentStatusNameAr
                      : committee.currentStatus?.currentStatusNameEn
                  }}</span>
                  <i
                    nz-icon
                    nzType="check"
                    *ngIf="committee.currentStatus?.currentStatusId === 1"
                  ></i>
                  <i
                    nz-icon
                    nzType="close"
                    *ngIf="committee.currentStatus?.currentStatusId === 2"
                  ></i>
                </div>
              </div>
              <div class="committee-date my-2"  (click)="navigateTo(committee?.commiteeId)" 
              *ngIf="committee?.validityPeriod[
              committee.validityPeriod.length - 1
            ].validityPeriodFrom.getFullYear() > 1900 && committee?.validityPeriod[
            committee.validityPeriod.length - 1
          ].validityPeriodTo.getFullYear() > 1900
            "
              >
                <i nz-icon nzType="clock-circle"></i>
                <!-- <span> {{'CommitteeFinishedDate' | translate}} </span> -->
                <span>
                  {{ "From" | translate }}
                  {{
                    this.translateService.currentLang === "ar"
                      ? (committee?.validityPeriod[
                          committee.validityPeriod.length - 1
                        ].validityPeriodFrom | customDate)
                      : (committee?.validityPeriod[
                          committee.validityPeriod.length - 1
                        ].validityPeriodFrom | date: "dd/MM/yy")
                  }}</span
                >
                <span>
                  - {{ "To" | translate }}
                  {{
                    this.translateService.currentLang === "ar"
                      ? (committee?.validityPeriod[
                          committee.validityPeriod.length - 1
                        ].validityPeriodTo | customDate)
                      : (committee?.validityPeriod[
                          committee.validityPeriod.length - 1
                        ].validityPeriodTo | date: "dd/MM/yy")
                  }}</span
                >
              </div>
              <div class="committee-date my-2" (click)="navigateTo(committee?.commiteeId)"
              *ngIf="committee?.validityPeriod[
              committee.validityPeriod.length - 1
            ].validityPeriodFrom.getFullYear() < 1900 || committee?.validityPeriod[
            committee.validityPeriod.length - 1
          ].validityPeriodTo.getFullYear() < 1900
            "
              >
                 <span>{{'committePermenant' | translate}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <ul class="list-unstyled m-0 p-0">
                    <li class="online-user-img d-flex align-items-center">
                      <ng-container
                        *ngFor="let memeber of committee?.members | slice: 0:4"
                      >
                        <img
                          nz-image
                          [nzTooltipTitle]="
                          (this.translateService.currentLang === 'ar' ? memeber?.commiteeRoles[0]?.role.commiteeRolesNameAr : memeber?.commiteeRoles[0]?.role.commiteeRolesNameEn) +
                          ' : ' +
                          (this.translateService.currentLang === 'ar'
                            ? memeber?.user?.fullNameAr : memeber?.user?.fullNameEn)
                            
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                        [nzSrc]="memeber?.user?.profileImage ? 'data:image/png;base64,'+memeber?.user?.profileImage:'../../../assets/images/unknown.png'"
                        />
                      </ng-container>
                      <span
                        class="mx-2 users-number"
                        *ngIf="committee.members.length"
                        >{{ committee.members.length }}</span
                      >
                      <span class="mx-2" *ngIf="!committee.members.length">{{
                        "NOMEMBERS" | translate
                      }}</span>
                    </li>
                  </ul>
                </div>
                <div
                  class="
                    committee-status
                    d-flex
                    align-items-center
                    justify-content-around
                  "
                  (click)="navigateTo(committee?.commiteeId)"
                >
                  <div
                    [nzTooltipTitle]="
                      ('CommitteeStatus' | translate) +
                      ' : ' +
                      (this.translateService.currentLang === 'ar'
                        ? committee.category?.categoryNameAr
                        : committee.category?.categoryNameEn)
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                  <i nz-icon nzType="apartment" nzTheme="outline"></i>
                  </div>
                  <div
                    *ngIf="committee.departmentLink != null"
                    [nzTooltipTitle]="
                      ('RelatedToOrganization' | translate) +
                      ' : ' +
                      (this.translateService.currentLang === 'ar'
                        ? committee.departmentLink?.organizationNameAr
                        : committee.departmentLink?.organizationNameEn)
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    <i nz-icon nzType="link"></i>
                  </div>
                  <div
                    *ngIf="committee.departmentLink == null"
                    [nzTooltipTitle]="
                      ('RelatedToOrganization' | translate) +
                      ' : ' +
                      ('noData' | translate)
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    <i nz-icon nzType="link"></i>
                  </div>
                  <div
                    [nzTooltipTitle]="
                      committee?.committeeConfidentiality | translate
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    <i nz-icon nzType="lock"></i>
                  </div>
                  <div
                    *ngIf="committee.parentCommitee != null"
                    [nzTooltipTitle]="
                      ('ParentCommittee' | translate) +
                      ' : ' +
                      committee?.parentCommitee?.name
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    <svg width="26" height="26" viewBox="0 0 26 26">
                      <defs>
                        <style>
                          .fatherA {
                            fill: #e1f0fe;
                            opacity: 0.499;
                          }
                        </style>
                      </defs>
                      <g transform="translate(-961 -728)">
                        <rect
                          class="fatherA"
                          width="26"
                          height="26"
                          rx="13"
                          transform="translate(961 728)"
                        />
                        <g transform="translate(914.524 734)">
                          <path
                            fill="#0075C9"
                            d="M64.455,4.015,61.291.218a.648.648,0,0,0-.969,0l-3.164,3.8a.59.59,0,0,0-.089.672.6.6,0,0,0,.574.366h1.9v6.328H56.377a.3.3,0,0,0-.247.109l-1.582,1.9a.325.325,0,0,0-.04.346.287.287,0,0,0,.287.178h6.961a.3.3,0,0,0,.316-.316V5.053h1.9a.6.6,0,0,0,.574-.366A.571.571,0,0,0,64.455,4.015Z"
                          />
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div
                    *ngIf="committee.parentCommitee == null"
                    [nzTooltipTitle]="
                      ('ParentCommittee' | translate) +
                      ' : ' +
                      ('noData' | translate)
                    "
                    nzTooltipPlacement="bottom"
                    nz-tooltip
                  >
                    <svg width="26" height="26" viewBox="0 0 26 26">
                      <defs>
                        <style>
                          .fatherA {
                            fill: #e1f0fe;
                            opacity: 0.499;
                          }
                        </style>
                      </defs>
                      <g transform="translate(-961 -728)">
                        <rect
                          class="fatherA"
                          width="26"
                          height="26"
                          rx="13"
                          transform="translate(961 728)"
                        />
                        <g transform="translate(914.524 734)">
                          <path
                            fill="#0075C9"
                            d="M64.455,4.015,61.291.218a.648.648,0,0,0-.969,0l-3.164,3.8a.59.59,0,0,0-.089.672.6.6,0,0,0,.574.366h1.9v6.328H56.377a.3.3,0,0,0-.247.109l-1.582,1.9a.325.325,0,0,0-.04.346.287.287,0,0,0,.287.178h6.961a.3.3,0,0,0,.316-.316V5.053h1.9a.6.6,0,0,0,.574-.366A.571.571,0,0,0,64.455,4.015Z"
                          />
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #loadingDataTpl> </ng-template>
    </div>
  </perfect-scrollbar>
</div>
<p
  *ngIf="!committees.length && !loadingData"
  class="text-center mt-3"
  style="font-size: 20px"
>
  {{ "noData" | translate }}
</p>
