<div class="div-wrapper mt-3">
    <nz-tabset [nzTabBarExtraContent]="headerTitle2" (nzSelectedIndexChange)="onGenericTransactionTypeChange($event)">
      <nz-tab [nzTitle]="'Decisions'|translate">
        <ng-template nz-tab>
            <div class="table-wrapper table-responsive">
                <div class="table-scroll">
                    <table >
                        <thead>
                            <tr>
                                <th class="sender">المرسل</th>
                                <th class="trans-num">رقم المعاملة</th>
                                <th class="sender-side">الجهة المرسلة</th>
                                <th class="subject">الموضوع</th>
                                <th class="trans-date">تاريخ المعاملة</th>
                                <th class="action">الإجراء</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               </div>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'Generalization'|translate">
        <ng-template nz-tab>
            <div class="table-wrapper table-responsive">
                <div class="table-scroll">
                    <table >
                        <thead>
                            <tr>
                                <th class="sender">المرسل</th>
                                <th class="trans-num">رقم المعاملة</th>
                                <th class="sender-side">الجهة المرسلة</th>
                                <th class="subject">الموضوع</th>
                                <th class="trans-date">تاريخ المعاملة</th>
                                <th class="action">الإجراء</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr >
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid user-img" src="../../../../../assets/images/unknown.png"/></td>
                                <td><span>234986</span></td>
                                <td>وزارة الحج و العمرة</td>
                                <td>اهمية قطاع الحج و العمرة و حرص حكومة خادم الحرمين</td>
                                <td>23/12/1442</td>
                                <td><span>للتوقيع</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
    <ng-template #headerTitle2>
      <h6>
        <svg width="30" height="30" viewBox="0 0 30 30">
          <defs>
            <style>
              .transactionA {
                fill: #fff;
              }

              .transactionB {
                fill: #0075c9;
              }
            </style>
          </defs>
          <g transform="translate(79 -4166)">
            <rect class="transactionA" width="30" height="30" transform="translate(-79 4166)" />
            <g transform="translate(-767.626 3400.942)">
              <path class="transactionB"
                d="M713.931,880.959a.525.525,0,0,0-.663.328,9.955,9.955,0,0,1-12.623,6.232,10.023,10.023,0,0,1-6.674-8.159l1.124.944.672-.8-2.17-1.821a.522.522,0,0,0-.736.065l-1.821,2.169.8.672,1.068-1.272a11.021,11.021,0,0,0,10.943,9.782,11.02,11.02,0,0,0,10.407-7.474A.524.524,0,0,0,713.931,880.959Z"
                transform="translate(0 -97.815)" />
              <path class="transactionB"
                d="M737.838,777.768l-1.054,1.256a11,11,0,0,0-21.348-2.278.523.523,0,0,0,.991.337,9.952,9.952,0,0,1,19.3,1.926l-1.141-.956-.672.8,2.17,1.821a.525.525,0,0,0,.736-.064l1.821-2.17Z"
                transform="translate(-22.013 0)" />
              <path class="transactionB"
                d="M747.338,814.452a7.342,7.342,0,1,1,7.342,7.342A7.351,7.351,0,0,1,747.338,814.452Zm1.046,0a6.3,6.3,0,1,0,6.3-6.3A6.3,6.3,0,0,0,748.384,814.452Z"
                transform="translate(-50.856 -34.175)" />
            </g>
          </g>
        </svg>
        <span class="mx-2">{{transactionGenericType|translate}}</span>
      </h6>
    </ng-template>
  </div>
