<div class="item-container">
  <header class="item-header">
    <div class="user-data">
      <div class="img-wrapper">
        <img [src]="item?.userImg" [alt]="item?.userName" />
        <span class="active-state"></span>
      </div>
      <div class="user-name">
        <h5 class="m-0">{{item?.userName}}</h5>
        <h6 class="m-0">{{item?.userRole}}</h6>
      </div>
    </div>
    <div class="item-control-options">
      <div class="mx-1">
        <ng-container *ngIf="item?.type !== types?.Vote">
          <i nz-icon [nzType]="
              (item?.type === types?.Task) ? 'solution' :
              (item?.type === types?.Attachment) ? 'paper-clip' : 'question'"
              nz-tooltip [nzTooltipTitle]="item?.type | translate"></i>
        </ng-container>
        <ng-container *ngIf="item?.type === types?.Vote">
          <!-- <i class="icon-electronic-vote"></i> -->
          <span nz-tooltip [nzTooltipTitle]="item?.type | translate">
            <svg width="28" height="28" viewBox="0 0 28 28">
              <defs>
                <style>
                  .vote-a {
                    fill: #ffffff;
                  }

                  .vote-b,
                  .vote-c {
                    fill: none;
                    stroke: #0075c9;
                    stroke-linejoin: round;
                  }

                  .vote-b {
                    fill-rule: evenodd;
                  }

                </style>
              </defs>
              <g transform="translate(-633 -160)">
                <rect class="vote-a" width="28" height="28" transform="translate(633 160)" />
                <g transform="translate(-451.092 -16)">
                  <path class="vote-b"
                    d="M1112.578,202.671l-1.035-1.792a1.093,1.093,0,0,1,.4-1.5h0a1.093,1.093,0,0,1,1.5.4l2.233,3.867,1.186,2.055"
                    transform="translate(-13.079 -10.351)" />
                  <path class="vote-b"
                    d="M1108.475,205.04l-1.035-1.792a1.093,1.093,0,0,1,.4-1.5h0a1.092,1.092,0,0,1,1.5.4l1.035,1.792"
                    transform="translate(-10.871 -11.626)" />
                  <path class="vote-b"
                    d="M1104.371,207.409l-1.035-1.792a1.092,1.092,0,0,1,.4-1.5h0a1.093,1.093,0,0,1,1.5.4l1.035,1.792"
                    transform="translate(-8.663 -12.901)" />
                  <path class="vote-b"
                    d="M1100.207,209.313l-4.391-1.18a1.1,1.1,0,0,1-.775-1.343h0a1.091,1.091,0,0,1,1.34-.774l2.03.546-4.011-6.947a1.092,1.092,0,0,1,.4-1.5h0a1.092,1.092,0,0,1,1.5.4l3.267,5.658"
                    transform="translate(-3.854 -9.672)" />
                  <rect class="vote-c" width="9.814" height="3.52" transform="translate(1095.816 199.951) rotate(-30)" />
                  <rect class="vote-c" width="6.124" height="6.124" transform="translate(1087.091 180)" />
                  <rect class="vote-c" width="6.124" height="6.124" transform="translate(1095.176 180)" />
                  <rect class="vote-c" width="6.124" height="6.124" transform="translate(1103.26 180)" />
                  <path class="vote-b" d="M1090.252,185.283l1.068,1.068,2.136-2.136"
                    transform="translate(-1.701 -2.268)" />
                </g>
              </g>
            </svg>
          </span>
        </ng-container>
      </div>
      <div class="mx-1">
        <i class="control-icon" nz-icon nzType="ellipsis" nz-popover [nzPopoverContent]="controlTmp"
          nzPopoverPlacement="bottom"></i>
        <ng-template #controlTmp>
          <ul class="list-unstyled p-0- m-0 dashboard-filter-list">

          </ul>
        </ng-template>
      </div>
    </div>
  </header>
  <nz-divider nzDashed></nz-divider>
  <section class="item-content">
    <ng-container *ngTemplateOutlet="itemContentTpl"></ng-container>
  </section>
  <nz-divider nzDashed></nz-divider>
  <footer class="item-footer">
    <div class="item-button" *ngIf="item?.type !== types?.Attachment">
      <button nz-button nzType="default"
        (click)="sendData()">{{(item?.type === types?.Vote ? 'SendVote' : 'SendTask')|translate}}</button>
    </div>
    <div class="item-comment">
      <nz-input-group [nzPrefix]="userImgTpl">
        <input nz-input type="text" [formControl]="itemComment" [placeholder]="'WriteAComment' | translate" />
      </nz-input-group>
      <ng-template #userImgTpl>
        <div class="user-comment-img">
          <img [src]="item?.userImg" [alt]="item?.userName" />
        </div>
      </ng-template>
    </div>
    <div class="comment-icon">
      <nz-badge [nzCount]="0" nzShowZero>
        <i nz-icon nzType="comment" class="mx-1"></i>
      </nz-badge>
    </div>
  </footer>
</div>

<ng-template #itemContentTpl>
  <h6 class="item-title"><strong>{{item?.title}}</strong></h6>
  <!-- Vote Content Data  -->
  <ng-container *ngIf="item?.type === types?.Vote">

  </ng-container>
  <!-- Attachment Content Data -->
  <ng-container *ngIf="item?.type === types?.Attachment">

  </ng-container>
  <!-- Task Content Data -->
  <ng-container *ngIf="item?.type === types?.Task">

  </ng-container>
  <ng-container *ngIf="item?.attachments?.length">
    <div>
      <i nz-icon nzType="paper-clip"></i>
      <span class="mx-2">{{'Attachment'|translate}}</span>
    </div>
    <ul class="list-unstyled d-flex align-items-center">
      <ng-container *ngFor="let att of item?.attachments">
        <li class="attachment-thumb">
          <img [src]="att" /> <!--'data:image/png;base64,' + -->
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ng-template>
