@import "./../../../../variables";
.item-container {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px $boxShadow;
  padding: 13px 20px;
  margin-bottom: 20px;

  .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .user-data {
      display: flex;
      align-items: center;
      .img-wrapper {
        position: relative;
        img {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          vertical-align: middle;
          object-fit: cover;
          margin: 0 0.3rem;
        }
        .active-state {
          position: absolute;
          width: 8px;
          height: 8px;
          display: block;
          background-color: $persianGreen;
          border-radius: 25px;
          left: 2px;
          bottom: 0;
        }
      }
      .user-name {
        margin: 0 5px;
        h5 {
          font-size: $fs14;
          font-weight: 600;
          color: $black;
        }
        h6 {
          color: $mediumShaft;
          font-size: $fs13;
        }
      }
    }
  }

  .data-item {
    padding: .5rem 0.4rem;
    background-color: $whitblue;

  }
}
