<form
  (ngSubmit)="onSave()"
  [formGroup]="votingForm"
  nz-form
  nzLayout="vertical"
  class="popup-form"
>
  <!-- Select Privacy -->
  <p *ngIf="committeeId">
    <a
      class="vote-type-link"
      nz-button
      nz-dropdown
      (click)="createTplModal(tplTitle, tplContent)"
      >{{ "Privacy" | translate }}<i nz-icon nzSize="small" nzType="down"></i
    ></a>
  </p>

  <!-- Voting Subject -->
  <nz-form-item>
    <nz-form-label>
      {{ "Subject" | translate }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="titleTpl">
      <textarea
        nz-input
        [ngClass]="{ rtl: currentLang === 'ar' }"
        rows="2"
        formControlName="subject"
        placeholder=""
        autocomplete="off"
      ></textarea>
      <ng-template #titleTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ "PleaseEnterSubject" | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Voting Type -->
  <div class="voting-type" [ngClass]="{ rtl: currentLang === 'en' }">
    <label class="px-2" nz-checkbox formControlName="multi">
      {{ "MultiSelect" | translate }}</label
    >
  </div>

  <!-- Voting Options -->
  <nz-form-label>
    {{ "VotingOptions" | translate }}
  </nz-form-label>
  <div formArrayName="options" class="voting-options">
    <div
      *ngFor="let optionCtrl of optionsControls; let i = index"
      [formGroupName]="i"
    >
      <nz-form-control>
        <div class="option-item" [ngClass]="{ rtl: currentLang === 'ar' }">
          <div class="radio">
            <label *ngIf="!multi" nz-radio></label>
            <label *ngIf="multi" nz-checkbox></label>
          </div>

          <input class="option-input" nz-input formControlName="name" />

          <a class="delete-btn" nz-button (click)="onDeleteOption(i)"> X </a>
        </div>
      </nz-form-control>
    </div>

    <nz-form-control>
      <a
        nz-button
        nzType="dashed"
        class="voting-options__add-button mt-2"
        (click)="onAddOption()"
      >
        <i nz-icon nzType="plus"></i>
        {{ "AddOption" | translate }}
      </a>
    </nz-form-control>
  </div>
  <div>
    <nz-form-item >
      <nz-form-control>
        <div>
          <hijri-gregorian-datepicker
            [ngClass]="{ rtl: currentLang === 'ar' }"
            [placeHolder]="'dd/mm/yyyy' | translate"
            [label]="'voteEndDate' | translate"
            [isRequired]="true"
            [GregLabel]="'Greg' | translate"
            [hijriLabel]="'Hijri' | translate"
            [selectedDateType]="selectedDateType"
            #datePicker
            (select)="dateSelected($event)"
            (selectedDateChange)="dateSelected($event)"
            [readonly]="true"
            [minHijri]="mindateHijiri"
            [minGreg]="minDateGorge"
            [maxHijri]="maxdateHijiri"
            [maxGreg]="maxDateGorge"
          >
          </hijri-gregorian-datepicker>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
  <!-- File Upload -->
  <div *ngFor="let file of files; let i = index">
    <p class="file-name" [ngClass]="{ rtl: currentLang === 'ar' }">
      {{ file.name }}
      <i
        class="delete-file"
        nz-icon
        nzType="close"
        (click)="removeSelectedFile(i)"
      ></i>
    </p>
  </div>
  <p class="mt-3">
    <a nz-button (click)="fileInput.click()"
      ><i nz-icon nzType="upload"> </i> {{ "AddAttachment" | translate }}</a
    >
    <input
      hidden
      type="file"
      #fileInput
      (change)="onSelectFile($event)"
      multiple
    />
  </p>

  <!-- Modal for selecting attachment type then users -->

  <ng-template #tplTitle>
    <span>{{ "SelectPrivacy" | translate }}</span>
  </ng-template>
  <ng-template #tplContent>
    <nz-radio-group formControlName="privacy">
      <label nz-radio nzValue="public">{{ "Public" | translate }}</label>
      <label nz-radio nzValue="private">{{
        "SpecificUsers" | translate
      }}</label>
    </nz-radio-group>
    <!-- Selected Users -->
    <div class="selected-users">
      <nz-form-item *ngIf="privacy === 'private'">
        <nz-form-control [nzErrorTip]="usersTpl">
          <nz-select
            [nzPlaceHolder]="'selectedUsers' | translate"
            nzAllowClear
            nzShowSearch
            nzServerSearch
            formControlName="selectedUsers"
            (nzOnSearch)="onSearch(lookupTypes.USERS, $event)"
            nzMode="multiple"
            [ngClass]="{ rtl: currentLang === 'ar' }"
          >
            <ng-container *ngFor="let opt of users">
              <nz-option
                *ngIf="!isLoading"
                [nzValue]="opt?.userId"
                [nzLabel]="
                  currentLang === 'ar'
                    ? opt?.user.fullNameAr
                    : opt?.user.fullNameEn
                "
              ></nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i>
              {{ "LoadingData" | translate }}
            </nz-option>
          </nz-select>
          <ng-template #usersTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ "PleaseSelectTheMembers" | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-template>

  <!-- Form Footer -->
  <div class="text-center mt-3">
    <button type="button" class="mx-2" nz-button (click)="close()">
      {{ "Cancel" | translate }}
    </button>
    <button
      type="submit"
      nz-button
      nzType="primary"
      [disabled]="!votingForm.valid"
      [nzLoading]="saving"
      [ngClass]="{ rtl: currentLang === 'ar' }"
    >
      {{ "SendVoting" | translate }}
    </button>
  </div>
</form>
