@font-face {
    font-family: "Tajawal";
    font-style: normal;
    font-weight: 400;
    src: local("Tajawal"), local("Tajawal-Regular"), url("/assets/fonts/Tajawal-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Tajawal";
    font-style: normal;
    font-weight: 500;
    src: local("Tajawal Medium"), local("Tajawal-Medium"), url("/assets/fonts/Tajawal-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Tajawal";
    font-style: normal;
    font-weight: 700;
    src: local("Tajawal Bold"), local("Tajawal-Bold"), url("/assets/fonts/Tajawal-Bold.ttf") format("truetype");
  }
body{
    width: 21cm;
    margin: auto;
    font-family: "Tajawal", sans-serif;
}
/*Start Header Design */

/*End Header Design*/
.print-container h4{
    font-weight:600;
    text-align: center;
    font-size: 25px;
}
/* Start Meeting Design */
.meeting-details div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.meeting-details div span {
    font-weight: 600;
}
.meeting-details div p {
    margin: 0px 10px;
}
.meeting-details .date {
    display: flex;
    align-items: center;
    font-weight: normal !important;
}
.meeting-details .date span {
    padding:  0px 6px;
    font-weight: 400 !important;
}
/*End Meeting Design*/
/*Start Meeting Schedule */
.meeting-schedule h5 , .meeting-attendes h5 ,.meeting-recommendations h5 {
    font-weight: 600;
    font-size: 20px;
}
.meeting-schedule table , .meeting-attendes table ,.meeting-recommendations table , .task-container table {
    border-collapse: collapse;
    border: 1px solid black !important;
    width: 100%;
}
.task-container table thead {
    font-size: 13px;
}
.task-container table thead th {
    border: 1px solid black;
    padding: 8px;
}
.meeting-schedule table thead .number {
    border:1px solid black ;
    padding:6px;
    width: 5%;
}
.meeting-schedule table thead .topic-head {
    border:1px solid black; 
    padding: 10px;
    width: 40%;
}
.meeting-schedule table thead .result-head {
    border:1px solid black; 
    padding: 10px;
    width: 55%;
}
.meeting-schedule table tbody td,.task-container table tbody td{
    border:1px solid black ;
}
.meeting-schedule table tbody td p,.meeting-attendes table tbody td p,.meeting-recommendations table tbody td p {
    margin: 0px;
}
.meeting-schedule table tbody tr .number-body {
    padding:6px; 
    text-align: center;
}
.task-container table tbody td{
    padding: 6px;
    text-align: center;
    font-size: 14px;
}
.task-container table tbody td p {
    margin-top: 0px;
    margin-bottom: 5px;
}
.meeting-schedule table tbody tr .meeting-schedule-content{
    padding:10px
}
/* End Meeting Schedule */
/*Start Meeting Attendees */
.meeting-attendes table thead th,.meeting-recommendations table thead th {
    border:1px solid black;
    padding:6px;
}
.meeting-attendes table tbody tr td,.meeting-recommendations table tbody td {
    border:1px solid black;
    padding:10px
}
.no-recommendations {
    font-size: 25px;
    font-weight: bold;
}
/*End Meeting Attendees */
.recomm-number{
    text-align: center;
}

.text-center{
    text-align: center;
}
.fs-25 {
    font-size: 25px;
}
.recomdation-table {
    margin-bottom: 40px !important;
}