@import "./../../../../variables";

.buttons {
  margin: auto 0;
  button {
    width: 6rem;
    height: 2rem;
  }
}

::ng-deep .ant-timeline-item-head-custom {
  top: 0.6rem;
  z-index: 5;
}

::ng-deep .ant-timeline-item-content {
  top: -5.7rem;
}

::ng-deep .ant-tabs {
  overflow: visible;
}

::ng-deep .ant-tabs-nav {
  z-index: 5;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-bottom: 1px solid $solitude;
  background-image: linear-gradient($white, $solitude);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
}

::ng-deep
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  padding-top: 15px;
  font-size: 1rem;
}

::ng-deep .my-modal .ant-modal-header {
  background: lightgray;
}

::ng-deep .my-modal .ant-modal-title {
  font-weight: 600;
}

::ng-deep .my-modal .ant-select-multiple .ant-select-selection-item .anticon {
  color: #97949462;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

::ng-deep .my-modal .ant-select-multiple .ant-select-selection-item {
  align-items: center;
}

::ng-deep .my-modal .ant-select-arrow .anticon {
  color: #97949462;
  font-size: 13px;
}

::ng-deep .my-modal .ant-radio-wrapper {
  margin: 0;
}

.meeting-state {
  padding: 0 1.5rem;
  & * {
    padding: 0.3rem 0;
    border-radius: 0.6rem;
    width: 5.5rem;
    text-align: center;
    font-size: $fs15;
    margin: 0 1rem;

  }

  &__next {
    border: 1px solid $lochmara;
    color: $lochmara;
  }

  &__finished {
    background-color: rgb(243, 242, 241);
    color: orangered;
    border: 1px solid orangered;
  }

  &__closed {
    background-color: rgb(236, 233, 233);
    color: darkred;
    border: 1px solid darkred;
  }

  &__current {
    background-color: $persianBlue;
    color: $white;
  }
}
.nextandpervious{
  border-radius: 18px;
}
.movmentBtn{
  position: absolute;
    right: 43%;
    bottom: 0;
    margin-bottom: 10px;
}