<div class="dashboard-header d-flex align-items-center">
  <div class="dashboard-add-btn" *ngIf="permittedToAddMember">
    <button nz-button nzType="primary" nzBlock (click)="addNewUser()">
      <i nz-icon nzType="plus" nzTheme="outline" style="color: #fff"></i>
      <span class="mx-2"> {{ "AddNewUser" | translate }} </span>
    </button>
  </div>
  <nz-divider [nzText]="text" nzType="vertical" *ngIf="permittedToAddMember">
    <ng-template #text>
      <i nz-icon nzType="small-dash" nzRotate="90" style="color: #c1c2c1"></i>
    </ng-template>
  </nz-divider>
  <div class="dashboard-search">
    <nz-input-group [nzPrefix]="iconSearch">
      <input
        nz-input
        type="text"
        [(ngModel)]="searchword"
        (keydown.enter)="searchThis()"
        [placeholder]="'SearchInUsers' | translate"
      />
      <i
        nz-icon
        nzType="close"
        [hidden]="!searchword"
        (click)="cancelSearch()"
        class="clearIcon"
        nzTheme="outline"
      ></i>
    </nz-input-group>
    <ng-template #iconSearch>
      <i
        nz-icon
        nzType="search"
        class="mx-1"
        style="color: #c1c2c1 !important"
      ></i>
    </ng-template>
  </div>
</div>
